<% provide(:title, "Company") %>
<div class = "container">
	<div class = "col-md-6 col-md-offset-3">
		<h1><u>Our Mission</u></h1>
		<p class="text-primary lead"><strong>Adventure|Byte</strong> was founded in the Winter of 2013.<br><br>
			We strive to delevop games that are fun, accessable to all ages that have a hint of nostalgia for those days where 8 bit was the height of graphical design.<br><br>
			We love all things Indie and hope to benefit the gaming community and our players with every new game.<br><br>
			We are always looking for passionate players and developers to work with us to create that next fun game.<br>
		</p>
	</div>
</div>