<div class= "jumbotron">
	<%= image_tag("mainlogo.png") %>
	<h1>Gameplay, Design, Fun.</h1>
</div>
<div class = "row">
	<div class = "col-md-8 col-md-offset-1">
		<% if @posts.any? %>
			<h3 class="text-center">News</h3>
			<ol class="posts">
    			<%= render @posts %>
  			</ol>
  			<%= will_paginate @posts %>
		<% end %>
	</div>
</div>	
