@import "bootstrap";

/* Fonts */

@font-face {
  font-family: Pixel-Noir;  
  src: url('/fonts/Pixel-Noir.ttf');
  overflow: hidden;
}

@font-face {
  font-family: Pixel-Noir-Skinny;  
  src: url('/fonts/Pixel-Noir Skinny.ttf');
  overflow: hidden;
  padding: 0px 0px -5px 0px;
}

@font-face {
  font-family: Pixel-Noir-Skinny-Short;  
  src: url('/fonts/Pixel-Noir Skinny Short.ttf');
  overflow: hidden;
}
/* Mixins and Variables */

$blackNightShade: #2D2A2B;
$freshOutlook: #E6754E;
$pleasedToMeetYou: #C84B1F;
$smartyPants: #1B8077;

/* Universal */

body {
	background-color: black;
	background-position: center;
}

/* Typography */

h1,h2,h3,h4,h5,h6 {
	color: $pleasedToMeetYou;
	font-family: Pixel-Noir;
	line-height: 2.6;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
} 

.lead {
	font-family: Pixel-Noir-Skinny;
	font-size: 12px;
}

.text-muted {
	font-family: Pixel-Noir-Skinny;
}

.small {
	font-family: Pixel-Noir-Skinny-Short;
	font-size: 10px;
}

/* Title Screen */

.jumbotron {
	text-align: center;
	background-color: transparent;
	background-position: center; 
	h1 {
		font-size: 48px;
		color: #999999;
		line-height: 3;
	}
	p {
		color: #888888;
	}
}

/* Nav Bar */

.nav {
	font-family: Pixel-Noir-Skinny-Short;
	padding: 6px 0px 0px;
}

/* Footer */

#footer {
	padding: 15px 15px;
}

/* News Panels */

.panel-footer {
	padding: 15px 15px 0px 15px;
	background-color: $gray-darker;
	border-color: $gray;
}

.panel-default {
	background-color: $gray-light;
	border-color: $gray;
	.panel-heading {
		padding: 15px 15px 0px;
		background-color: $pleasedToMeetYou;
		border-color: $gray;
		h3 {
			color: $blackNightShade;
		}
		a {
			color: $blackNightShade;
		}
	}
}

.posts {
	padding: 0px 0px 0px 0px
}

.well {
	background-color: LightBlue;
}
