@import "bootstrap";

/* Fonts */

@import "fonts.css";


/* Mixins and Variables */

$blackNightShade: #2D2A2B;
$freshOutlook: #E6754E;
$pleasedToMeetYou: #C84B1F;
$smartyPants: #1B8077;

/* Universal */

body {
	background-color: black;
	background-position: center;
}

/* Typography */

body {
	line-height: 0;
}

h1,h2,h3,h4,h5,h6 {
	color: $pleasedToMeetYou;
	font-family: pixel-noir;
}

h1 {
	text-align: center;
} 

.lead {
	font-family: pixel-noir-skinny;
	font-size: 1em;
}

.text-muted {
	font-family: pixel-noir-skinny;
}

.small {
	font-family: pixel-noir-skinny-short;
}

/* Title Screen */

.jumbotron {
	text-align: center;
	background-color: transparent;
	background-position: center; 
	h1 {
		font-size: 2em;
		color: #999999;
	}
	p {
		color: #888888;
	}
}

/* Nav Bar */

.nav {
	font-family: pixel-noir-skinny-short;
}

/* Footer */

#footer {
	padding: 15px 15px;
}

/* News Panels */

.panel-footer {
	background-color: $gray-darker;
	border-color: $gray;
	padding: 15px 15px 15px;
	.small {
		top: -10px;
	}
}

.panel-default {
	background-color: $gray-light;
	border-color: $gray;
	.panel-heading {
		background-color: $pleasedToMeetYou;
		border-color: $gray;
		h3 {
			color: $blackNightShade;
		}
		a {
			color: $blackNightShade;
		}
	}
}

.posts {
	padding: 0px 0px 0px 0px
}
